

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body{
  height: 100%;
  width: 100%;
  overflow-y: visible;
}

body {
  font-size: 1.6rem;
  font-family: "Alegreya Sans", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, h2, h3, h4 {
  font-family: 'Pompiere', "Trebuchet MS", Helvetica, sans-serif;
  color: #1f8ec9;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  color: #c72510;
}

.horizontal-list {
    list-style: none;
}

.horizontal-list > li {
  display: inline-block;
  margin: 1.5em 2em 1.5em 0;
}

.box {
  text-align: center;
  padding: 5rem 0 3rem;
}

@media (min-width: 750px) {
  .box {
    padding: 8rem 0 7rem;
  }
}

.box-heading, .box-description {
  margin-bottom: 1.2rem;
}

@media (min-width: 750px) {
  .box-heading {
    font-size: 5.0rem;
  }
}

.box-subheading {
  text-align: center;
  margin: 3rem 0 2rem;
}

.box-subheading-content {
  margin-bottom: 1rem;
  color: inherit;
  border-bottom: 1px solid;
  font-size: 1.7rem;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: initial;
}

.button {
  margin-bottom: 1.2rem;
}


.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #c72510;
  border-color: #c72510;
  font-family: 'Pompiere', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.8rem;
}

.show {
  text-align: center;
  margin-top: 1.4rem;
}

.show-content {
  display: inline-block;
  font-size:180%;
  font-weight: 500;
  border-bottom: 2px solid;
  padding: 0 0.5rem;
}

/* Cover
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cover {
  background: #1f8ec9;
}

@media (min-width: 550px) {
  .cover { min-height: 260px; }
}

@media (min-width: 750px) {
  .cover {
    height: 400px;
    padding-top: 10rem;
    padding-bottom: 9rem;
  }
}

.cover-text { text-align: center; }

@media (min-width: 550px) {
  .cover-text {
    text-align: left;
  }
}

.cover-heading {
  font-size: 5.0rem;
  color: #fff;
  line-height: 7rem;
}

@media (min-width: 550px) {
  .cover-heading { text-align: left; }
}

@media (min-width: 750px) {
  .cover-heading { font-size: 6rem; }
}

@media (min-width: 1000px) {
  .cover-heading { font-size: 7rem; }
}

.cover-subheading {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Pompiere', "Trebuchet MS", Helvetica, sans-serif;
}

@media (min-width: 750px) {
  .cover-subheading { font-size: 2.7rem; }
}

@media (min-width: 1000px) {
  .cover-subheading { font-size: 3.3rem; }
}

.cover-button {
  margin-bottom: 4rem;
}

.phone-wrap {
  position: relative;
}

.phone-img {
  position: relative;
  max-width: 80%;
  max-height: 720px;
  margin: 3rem auto -12rem;
  visibility: hidden; /* avoid flickering with scroolreveal */
}

@media (min-width: 750px) {
  .phone-img {
    max-width: 100%;
    max-height: 380px;
    position: absolute;
    top: 12rem;
    right: 0;
  }
}

@media (min-width: 1000px) {
  .phone-img {
    max-height: 480px;
    top: 2rem;
  }
}

.cover-os-links-icon {
  font-size: 3rem;
  color: #fff;
}

/* Description
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.box.description { padding-top: 12rem; }

@media (min-width: 750px) {
  .box.description { padding-top: 8rem; }
}

.description-heading {
  margin: 3.5rem 0 5rem;
}

.description-subheading {
  text-align: center;
}

.description-subheading-content {
  margin-bottom: 1rem;
  color: inherit;
  border-bottom: 1px solid;
  font-size: 100%;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: initial;
}

.description-text {
  text-align: left;
}
.description .button {
  margin-bottom: 5rem;
}

/* Product
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.box.product {
  padding: 5rem 0 10rem;
}

.product-photo {
  margin-bottom: 2rem;
}

@media (min-width: 750px) {
  .product-photo {
    margin: 3.3rem 0 0;
  }
}


/* Call to action
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.calltoaction {
  background: #1f8ec9;
}

.calltoaction-heading {
  color: #fff;
  margin-bottom: 4.5rem;
}

.calltoaction .button {
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  font-size: 85%;
  padding-bottom: 0;
}

@media (min-width: 750px) {
   .footer-text {
     text-align: left;
   }
}

.footer-social-links-icon {
  font-size: 2rem;
  color: inherit;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/*
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
